header .profile-picture {
  width: 100%;
}

header .personal-information {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

header .personal-information .name {
  font-size: 25px;
}

header .personal-information .profession {
  margin-top: -20px;
  font-size: 12.8px;
  color: #f3bf99;
}

header .personal-information .web {
  padding-bottom: 20px;
  font-size: 10.24px;
  color: #f5f5f5;
  text-decoration: none;
}

header .buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
}

header .buttons a {
  width: 115px;
  height: 34px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

header .buttons a .logo-button {
  height: 16px;
  width: 16px;
}

header .buttons .button-left {
  background-color: #d1d5db;
  color: #374151;
  translate: all 3ms;
}

header .buttons .button-left:hover {
  background-color: #dee2e7;
}

header .buttons .button-right {
  background-color: #5093e2;
  color: #fff;
  translate: all 3ms;
}

header .buttons .button-right:hover {
  background-color: #5a9ce7;
}
